<div class="viewpoint">
  <header id="main-navigation" class="clearfix">
    <a href="#" class="name">Joe Walker</a>
    <nav>
      <a href="#">Articles</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about homepage_content">
      <h2>About</h2>
      <hr>
      <p>I'm a Full Stack Developer from London, UK.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum vel praesentium.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam id officia ex, iusto voluptate ad commodi a veniam, rerum eveniet?</p>
    </div>
    <div class="col-2 homepage_content">
      <h2>Writings</h2>
      <hr>
      <h3><a href="">Title 1</a></h3>
      <p class="date">Wednesday 3rd July</p>
      <h3><a href="">Title 2</a></h3>
      <p class="date">Wednesday 3rd July</p>
      <h3><a href="">Title 3</a></h3>
      <p class="date">Wednesday 3rd July</p>

    </div>
    <div class="col-3 homepage_content">
      <h2>Projects</h2>
          <hr>
      <h3><a href="#">Workout Log</a></h3>
      <p class="date">Wednesday 3rd July</p>
      <h3><a href="#">CycleThru</a></h3>
      <p class="date">Wednesday 3rd July</p>
      <h3><a href="#">CycleThru Rentals</a></h3>
      <p class="date">Wednesday 3rd July</p>
    </div>
  </div>
  <footer id="main_footer">
    <p class="copyright">&copy; 2019 Joe Walker</p>
    <nav>
      <a href="https://www.linkedin.com/in/joe-walker-4a353b101/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-github-square"></i></a>
      <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
    </nav>

  </footer>
</div>
