<h1 id="page-title">Writings</h1>
<div id="posts-wrapper" class="skinny-wrapper">
  <div class="post">
    <p class="date">Friday 10th April</p>
    <h2><a href="">Title 1</a></h2>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th April</p>
    <h2><a href="">Title 2</a></h2>
    <hr>
  </div>
  <div class="post">
    <p class="date">Friday 10th April</p>
    <h2><a href="">Title 3</a></h2>
    <hr>
  </div>
  <div class="pagination">
    <span class="previous_page disabled">Previous</span>
    <em class="current">1</em>
    <a rel="next" href="#">2</a>
    <a href="#" class="next_page">Next</a>
  </div>
</div>
