<div id="post_show_content" class="skinny-wrapper wrapper_padding">
  <header>
    <p class="date">Friday April 10th</p>
    <h1>Title 1</h1>
    <hr>
  </header>

  <div id="content">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi amet voluptas pariatur voluptatem, dolore ut nam earum veritatis aliquam, ipsa sed minima illum quasi cum numquam fugiat fugit necessitatibus, voluptatibus, dicta praesentium delectus ab. Enim, accusantium? Laborum dolorum iusto, nulla, tempore dolores ducimus consequatur cupiditate minima minus temporibus nemo aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius laudantium facere, provident, vel numquam, dicta ullam culpa tempora sed corrupti quos, cum architecto voluptatum necessitatibus qui. Voluptatibus reiciendis harum facilis natus perferendis, beatae. Debitis cupiditate, sunt repellendus magni rerum id in iste provident aut enim. Similique quos sit earum explicabo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum architecto, quaerat officiis, dolores nobis culpa in possimus enim nulla dignissimos blanditiis consequuntur quam impedit minus, ullam cupiditate quia hic provident maxime nemo odit nostrum. Tempore voluptates dolor vero error, ex aliquid quasi nemo nesciunt. Cum, pariatur ullam explicabo placeat animi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius laudantium facere, provident, vel numquam, dicta ullam culpa tempora sed corrupti quos, cum architecto voluptatum necessitatibus qui. Voluptatibus reiciendis harum facilis natus perferendis, beatae. Debitis cupiditate, sunt repellendus magni rerum id in iste provident aut enim. Similique quos sit earum explicabo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum architecto, quaerat officiis, dolores nobis culpa in possimus enim nulla dignissimos blanditiis consequuntur quam impedit minus, ullam cupiditate quia hic provident maxime nemo odit nostrum. Tempore voluptates dolor vero error, ex aliquid quasi nemo nesciunt. Cum, pariatur ullam explicabo placeat animi.</p>
  </div>

  <hr>

  <div id="share_box">
    <p>Share Title 1</p>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-google-plus"></i></a>
  </div>

  <hr>

</div>
